body{
	margin: 0;
	background-size:cover;
	    width: 100%;  
    min-height: 100%;  
}
.container p{
	text-align:center;
	padding:10px auto;
	font-size:30px ;
	color: darksalmon;
	
}
.beat-char {
    line-height: 3.4em;
    position: relative;
	display: inline-block;
	background: transparent;

}

.rotate{
	transform:rotate(360deg) ;
	-ms-transform:rotate(360deg); 	/* IE 9 */
	-moz-transform:rotate(360deg); 	/* Firefox */
	-webkit-transform:rotate(360deg); /* Safari å’Œ Chrome */
	-o-transform:rotate(360deg);
	-webkit-transition-duration: 0.7s;

}
.logo {
	width:200px;
	height:200px;
	margin: 0 auto;
	border-radius:200px;
	border:5px solid ;
	box-shadow:5px 5px 5px rgba(0,0,0,0.3);
	transition:1s all;
}

.logo img {
	width:200px;
	height:200px;
	margin:0px auto 0px;
	background:#fff;
	border-radius:200px;
}

.logo:hover {
	transform:rotate(360deg);
	box-shadow:0px 0px 0px rgba(0,0,0,0.3);
}
.body_buttom{
	width: 100%;
	height: 290px;
	position:fixed;
	bottom:0px;
	background: rgba(255,255,255,0.3);
}
.body_buttom_a{
	float: left;
}
a{
	margin-left:60px ;
	text-decoration: none;
	padding: 20px 30px;
	background: rgba(255,255,255,0.1);
	border-radius: 25px;
	transition:1s all;
	color: hotpink;
}
a:hover{
	color: black;
	background: rgba(255,255,255,0.6);
	transition:1s all;
}
.body_buttom_r{
	float: right;
}
.body_buttom_yq{
	margin-left: 460px;
	margin-top: 10px;
	color: #81C300;
}
.body_buttom_r_gg{
	width: 550px;
	height: 290px;
	background: rgba(255,55,55,0.1);
	border-radius: 25px;
	margin-right:70px ;
	align-content: center;
	box-shadow:5px 5px 5px rgba(0,0,0,0.3);
}
.gg_gg{
	color: #FF69B4;
	
}
.gg_font{
	color: #982E4B;
}
.gg_font2{
	color: #ED553B;
}
.gg_font3{
	color: chocolate;
}
.gg_sj{
	font-size: 40px;
	color: red;
}